@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    height: 100vh;
    background-color: #362222;
    font-family: 'Lato', sans-serif;
}

main {
    height: 99.6%;
    position: relative;
}

h1, h2 {
    font-family: 'Raleway';
}

input[type='text'] {
    padding: 9px;
    border: 1px solid #8b8b8b;
    border-radius: 4px;
    display: block;
}

button {
    cursor: pointer;
}

.utility-button {
    width: 100%;
    padding: 9px 0;
    border: 1px solid transparent;
    color: #362222;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;
    display: block;
    transition: 0.3s;
}

.utility-button:hover {
    background-color: #ffffffb5;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27rem;
    background-color: #171010;
    color: white;
    height: fit-content;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.545);
}

.divider {
    background-color: #EEB76B;
    border-radius: 10px;
    width: 110px;
    height: 4px;
    margin: 10px 0;
}

.login-container h1 {
    text-align: center;
    color: #EEB76B;
}

.login-heading {
    width: 90%;
    margin: 0 auto 18px;
    text-align: center;
}

.login-heading img {
    aspect-ratio: 1;
    width: 70px;
}

.login-heading p {
    margin-top: 4px;
}

.login-content {
    width: 70%;
    margin: 18px auto 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

label {
    font-weight: 700;
    padding: 8px 0;
    display: block;
}

.todo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27rem;
}

.todo-heading {
    position: relative;
}

.action-button {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 10;
    aspect-ratio: 1;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 4px;
    transition: .3s;
}

.action-button:hover {
    opacity: 0.7;
}

.action-body {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #362222;
    border-radius: 4px;
    padding: 0 0 4px 0;
    display: none;
    flex-direction: column;
}

.action-body p {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    transform: translate(-10%, -50%) rotateZ(90deg);
    font-size: 10px;
    font-weight: 700;
    opacity: 0.4;
}

.todo-clear {
    margin-top: 41px;
    padding: 5px;
    border: none;
    aspect-ratio: 1;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.todo-clear:hover svg {
    fill: rgb(245, 163, 70);
    background-color: transparent;
    transition: 0.3s;
}

.todo-logout {
    margin-top: 2px;
    border: none;
    aspect-ratio: 1;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.todo-logout:hover svg {
    fill: rgb(245, 70, 70);
    background-color: transparent;
    transition: 0.3s;
}

.todo-logout svg {
    width: 48%;
    object-fit: contain;
}

.todo-semi-container {
    background-color: #171010;
    color: white;
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.545);
    margin-top: 20px;
}

.todo-semi-container2 {
    background-color: #171010;
    color: white;
    padding: 1.7rem 1.8rem;
    border-radius: 8px;
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.545);
    margin-top: 20px;
    height: 52vh;
    display: grid;
    grid-template-rows: 7% 86% 7%;
}

.item-container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p.item-container-heading {
    font-weight: 700;
}

p.item-container-hint {
    font-size: 11px;
    background-color: #EEB76B;
    color: #171010;
    padding: 2px 6px;
    font-weight: 700;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

p.item-container-hint svg {
    width: 15px;
    height: 15px;
}

.item-container {
    margin: 9px 0;
}

.item-container-footer p, .item-container-footer a {
    align-self: start;
    font-weight: 700;
    font-size: 11px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.item-container-footer a:hover {
    color: rgb(60, 123, 240);
}

.item-container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container-footer-left, .item-container-footer-right {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.item-container-footer a {
    display: flex;
    align-items: center;
    gap: 3px;
}

.item-container-footer svg {
    width: 14px;
    height: 14px;
    transition: 0.3s;
}

.item-container-footer a:hover svg {
    fill: rgb(60, 123, 240);
}

span.name {
    color: #EEB76B;
}

#todo {
    width: 85%;
}

.todo-form {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 80% 19%;
}

.task-item {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.493);
    background-color: #362222;
    border-radius: 4px;
    width: 100%;
    padding: 0.8rem 10px;
    display: grid;
    grid-template-columns: 87% auto;
    gap: 7px;
    border-left: 4px solid #EEB76B;
}

.task-item p {
    display: flex;
    align-items: center;
}
.task-item button {
    aspect-ratio: 1;
    background-color: rgb(211, 39, 39);
    color: white;
    border-color: transparent;
    font-size: 0.7rem;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    border-radius: 4px;
}

.task-item button:hover {
    background-color: rgb(186, 34, 34);
    transition: 0.3s;
}

.item-container-body {
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-right: 4px;
}

.item-container-body::-webkit-scrollbar {
    appearance: none;
    width: 6px;
}

.item-container-body::-webkit-scrollbar-thumb {
    background-color: #EEB76B;
    border-radius: 4px;
}

.todo-subheader {
    padding: 10px 0;
}

.no-todo {
    color: #EEB76B;
    font-weight: 900;
}

.disabled-item {
    filter: brightness(0.4);
    pointer-events: none;
    border-color: #3c3c3c;
}

.disabled-item p {
    text-decoration: line-through;
}

.disabled-item button {
    background-color: #3c3c3c;
    pointer-events: all;
}
